@font-face {
    font-family: 'Univers BQ';
    src: url('UniversBQ-Light.woff2') format('woff2'),
        url('UniversBQ-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

